<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @ticket.user_id %>
</p>

<p>
  <b>Price:</b>
  <%= @ticket.price %>
</p>

<p>
  <b>Screeninginfo:</b>
  <%= @ticket.screeninginfo_id %>
</p>

<p>
  <b>Ticketname:</b>
  <%= @ticket.ticketname_id %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
