<h1>Listing screeningrooms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Capacity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @screeningrooms.each do |screeningroom| %>
  <tr>
    <td><%= screeningroom.name %></td>
    <td><%= screeningroom.capacity %></td>
    <td><%= link_to 'Show', screeningroom %></td>
    <td><%= link_to 'Edit', edit_screeningroom_path(screeningroom) %></td>
    <td><%= link_to 'Destroy', screeningroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Screeningroom', new_screeningroom_path %>
